html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  list-style: 1.58;
  letter-spacing: -0.003em;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
header {
  margin-top: 0px;
  width: 100%;
  padding: 50px 33%;
  padding-bottom: 30px;
  background-color: #fafafa;
}
.headerPicture {

}
ul {
  list-style: none;
  padding: 0px;
  color: rgba(0,0,0,0.8);
}

ol {
  list-style: none;
  padding-left: 20px;
  color: rgba(0,0,0,0.6);
}

.interests li {
  color: rgba(0,0,0,0.6)
}

li {
  padding: 0px;
  margin-top: 0px;
  font-weight:
}

h1 {
  color: #00ab6b;
  margin-bottom: 0px;
  font-weight: 300;
}


a, a:visited, a:hover, a:active {
  text-decoration: none;
  background-color: transparent;
  color: rgba(0,0,0,0.8);
}

a li {
  color: rgba(0,0,0,0.6);
}
.container {
  flex-wrap: wrap;
  color: rgba(0,0,0,0.6);
}

.container, header {
  display: flex;
  flex-direction: row;
}

.life {
  width: 100%;
  padding: 0 33%;
}

.ability {
  width: 100%;
  padding: 0 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.name {
  color: rgba(0,0,0,0.8);
  font-size: 32px;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 0;
  width: 50%;
  word-wrap: break-word;
  white-space: nowrap;
}

p.name {
  margin-top: 0;
}
.about {
  order: 1;
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 0px;
  padding-top: 0px;
}
.description {
  width: 85%;
  margin-top: 4px;
  margin-bottom: 0px;
  outline: 0;
  color: rgba(0,0,0,0.6);
}

#portrait {
  order: 2;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  background: url("../images/portrait.jpeg") center;
  background-size: 150px;
  box-shadow: 5px grey;
}

.quote {
  width: 75%;
  color: rgba(0,0,0,0.6);
  font-style: italic;
  font-size: 16px;
}

.contact {
  display: block;
  flex-direction: row;
  margin-bottom: 0px;
}

.contact .phone {
  color: rgba(0,0,0,0.8);
  width: 100%;
  margin: inherit;
}

.contact .email {
  color: rgba(0,0,0,0.8);
  width: 100%;
  margin: inherit;
}
.interests {
  order: 4;
  padding: 0 33%;
  width: 100%;
}

.education {
  order: 5;
  width: 100%;
  padding: 0 33%;
}

.skills {
  order: 6;
  width: 50%;
}

.gems {
  order: 8;
  width: 50%;
}
.experience {
  order: 7;
  display: flex;
  flex-direction: row;
}

.work {
width: 50%;
}

.socialMedia {
    margin: 0 auto;
}

.socialMedia::after {
  clear: both;
  display: block;
  content: "";
}


.socialMedia .socialIcon {
  float: left;
}

.socialIcon {
  height: 100px;
  width: 100px;
  display: flex;
  flex-wrap: text-wrap;
  background-size: contain;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center center;
}

.Facebook {
  background-image: url("../images/Facebook.png");
}

.Instagram {
  background-image: url("../images/Instagram.png");
}

.Twitter {
  background-image: url("../images/Twitter.png");
}

.Medium {
  background-image: url("../images/medium-m-color-100px.png");
}

.Linkedin {
  background-image: url("../images/Linked-in.png");
}

.Github {
  background-image: url("../images/GitHub.png");
}
